@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=BIZ+UDPMincho&family=Lobster&display=swap');


body{
    background: url(../images/HOMEV.jpg);   
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Abril Fatface', cursive;

}

header{
    width: 100%;
    background: rgba(11, 139, 188, 0.8);
}

section h1{
    font-size: 620%;
}
section p{
    font-size: 20px;
}
.btnColor{
    background: linear-gradient(to right,#0D84B1 ,#03B5FA);

}









